#include "commithash.h"

const tVersion version = {{
    .major = {Major},
    .minor = {Minor},
    .patch = {Patch},
    .commits = {CommitsSinceVersionSource},
    .hash = "{ShortSha}",
    .string = "{friendly_version}"
}};
